.favor{
   background-color: #ccf;
   border: 1px #ddf solid;
}
.favor_card {
    background-color:#ccc;
    background-image:url('/kivacardgame/images/washed_background.png');
    width:750px;
    height:1050px;
    position:absolute;
    top:0;
    left:0;
    font-size: 60px;
}

.card_name_long{
    font-size: 50px;
    text-align:center;    
}

.card_name_short{
    font-size: 70px;
    text-align:center;    
}

.card_name {
    padding-top: 25px;
    position:absolute;
    top:08px;
    left:20px;
    height:90px;
    width:600px;
}

.effect {
    font-size: 80px;
    text-align:center;
    position:absolute;
    top:140px;
    left:20px;
    height:200px;
    width:710px;
}

.floater{
    float:left; 
    height:50%; 
    width:100%;
    margin-bottom:-50px;
}

.main_image{
    position:absolute;
    top:350px;
    left:20px;
    height:390px;
    width:710px;
    border: 1px #ddd solid;   
}

.flavor_text{
 }

.flavor{
     font-size: 40px;
    text-align:center;
    position:absolute;
    top:750px;
    left:50px;
    height:300px;
    width:600px;
/*
    background-color: #ccf;
    border: 3px black solid;
*/
}


.cost{
    background-color: #FFF; 
    top:0;
    left:640;
    padding-top:18px;
    padding-right:20px;
    padding-left:10px;
    height:110;
    width:90;
    position:absolute;
    
}

.values{
    position:absolute;
    top:943px;
    width:750px;

}

.value{
    float:left;
    margin-left: 65px;
    margin-right: 60px;
    padding:10px;
}

.big_icon{
    background-color: #fff;
    width: 100px;
    height: 100px;
}

.flip{
transform: rotate(180deg);
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Safari and Chrome */
-o-transform: rotate(180deg); /* Opera */
-moz-transform: rotate(180deg); /* Firefox */
}

.big_icon .multiIcon{
    float: left;
    width: 45px;
    height: 45px;
    padding: 3px;
}

.big_icon .multiIconHalf{
    float: left;
    width: 22px;
    height: 45px;
    padding: 3px;
}

.big_icon .tinyIcon{
    float: left;
    width: 30px;
    height: 30px;
    padding: 3px;
}

.big_icon .tinyIconHalf{
    float: left;
    width: 15px;
    height: 30px;
    padding: 3px;
}

.big_icon .singleIcon{
    width: 90px;
    height: 90px;
}

.effect .multiIcon{
    align: center;
    width: 90px;
    height: 90px;
    padding: 10px;
}

.effect .multiIconHalf{
    display:none;
}

.effect .tinyIcon{
    align: center;
    width: 90px;
    height: 90px;
    padding: 10px;
}

.effect .tinyIconHalf{
    display:none;
}

.effect .singleIcon{
    align:center;
    width: 90px;
    height: 90px;
}